body{background-color: #F1CDB7}

.navbar{background-color:#A5AA94;
	width: 100%;}

 
.display-4{color:black;
text-align: center;
font-size: 52px;
text-align:center;
text-transform:uppercase;

}

.jumbotron{background-color: #EF9D87;
	opacity: 1;
transition: 1s;
padding-top: 30px;
padding-bottom: 20px;}

.quote {text-align:center;
font-size:25px;
font-family: dancingscript, cursive;
color: grey;}


img{margin-top: 0;
margin-bottom: 0;
margin-left: auto;
margin-right: auto;}

h3{color: #A5AA94;
text-align: center;}

.pinfo{color: #A5AA94;
padding: 20px;
font-size: 20px;}
.card{background-color: #EFE3D3;
margin: 20px;}

.footer-center{text-align: center;}
.footer-right{text-align: right;}
.e-mail{text-align: center;}
.footer-links{padding: 0px;}

.footer-distributed{background-color:#012E40;
	position: absolute;
	width:100%;
	opacity: 0.4;
margin-top: 30px;}

	h4{color: white;}
		

a{color: #25D9B8;}